._btn {
	
	@include adaptiv-value("height",59,32,1);
	@include adaptiv-value("font-size",18,14,1);
	@include adaptiv-value("line-height",28.8,22.4,1);
	background: #EE5514;
	border-radius: 5px;
	font-weight: 500;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover){
		&:hover{
			color: #EE5514;
			background:#FFFFFF;
			border: 1px solid #EE5514;;
		}
	}
}

._footer-title {
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	color: #1A0A03;
	margin-bottom: 31px;
	@media (max-width:$md3+px){
		margin-bottom: 0px;
	}
}